.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.border {
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  width: 88.5%;
}

.login, .logout {
  position: absolute;
  z-index: 1;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 30px;
  margin-left: 40%;
  margin-top: 10%;
  width: 350px;
}

.ui.card, .ui.cards>.card {
  width: 225px;
}

.ui.buttons .button {
  margin: 3px;
}

.ui.segment.pushable {
  min-height:915px;
}

#root > div > div > div.pusher > div > div > div > div > div > div.reviewForm > form > div.fields {
  margin-left: 14.5%;
}.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.border {
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  width: 88.5%;
}

.login, .logout {
  position: absolute;
  z-index: 1;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 30px;
  margin-left: 40%;
  margin-top: 10%;
  width: 350px;
}

.ui.card, .ui.cards>.card {
  width: 225px;
}

.ui.buttons .button {
  margin: 3px;
}

.ui.segment.pushable {
  min-height:915px;
}

#root > div > div > div.pusher > div > div > div > div > div > div.reviewForm > form > div.fields {
  margin-left: 14.5%;
}
